<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GrizzBank: Home</title>
    <!-- Support loading statics via django template engine -->
    {% load static %}
    <!-- Load bootstrap css stylesheet  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- grizbank stylesheet to fill in gaps -->
    <link href="{% static 'grizz_bank/main.css' %}" type="text/css" rel="stylesheet">
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="main">
    <section class="header">
        <nav class="navbar navbar-expand-md navbar-dark">
            <a href="/grizz_bank/" class="navbar-brand">GrizzBank</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="./deposit">Deposit</a></li>
                    <li class="nav-item"><a class="nav-link" href="./transfer">Transfer</a></li>
                    <li class="nav-item"><a class="nav-link" href="./reset_password">Reset Password</a></li>
                    <li class="nav-item"><a class="nav-link" href="./logout_handler">Logout</a></li>
                </ul>
            </div>
        </nav>
    </section>


    </div>


    <section class="index_content">
        <div class="title_container">
            <h1 style = "font-size: 2em;">GRIZZBANK</h1>
        </div>
        {%for acct in account_data %}
        <div style="font-size:1.1em" class = "account_box">
            <div class = "checking_acct" style = "text-align: center">
                <h2><label for="acct{{acct.id}}_from">{{acct.type}} Account </label></h2>
                    <div class = "checking_balance">
                        <h3><label for="acct{{acct.id}}_from">Account #{{acct.id}}: <span class="acct-bal">${{acct.bal}} </span></label></h3>
                        <button class = "DW_btn"><a style="text-decoration: none; color: inherit;" href="./deposit">Deposit</a></button>
                        <button class = "transfer_btn"><a style="text-decoration: none; color: inherit;"  href="./transfer">Transfer money</a></button>
                    </div>
            </div>
{% endfor %}


        </div>
            <div class ="logout_cont">
            <button class = "Logout_btn"><a style="text-decoration: none; color: inherit;" href="./logout_handler">Logout</a></button>
            </div>
        </div>


    
    </section>





    <footer class="footer">
        <nav class="navbar navbar-expand-sm navbar-dark">
            <a href="#" class="navbar-brand">About Grizz Bank</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#">About us</a></li>
                </ul>
            </div>
        </nav>
    </footer>
    </div>
</body>
</html> 