<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GrizzBank: Home</title>
    <!-- Support loading statics via django template engine -->
    {% load static %}
    <!-- Load bootstrap css stylesheet  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- grizbank stylesheet to fill in gaps -->
    <link href="{% static 'grizz_bank/main.css' %}" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="main">
    <section class="header">
        <nav class="navbar navbar-expand-md navbar-dark">
            <a href="/grizz_bank/" class="navbar-brand">GrizzBank</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="../deposit">Deposit</a></li>
                    <li class="nav-item"><a class="nav-link" href="../transfer">Transfer</a></li>
                    <li class="nav-item"><a class="nav-link" href="../reset_password">Reset Password</a></li>
                    <li class="nav-item"><a class="nav-link" href="../logout_handler">Logout</a></li>
                </ul>
            </div>
        </nav>
    </section>


    </div>


    <section class="Login_content">
        <div class="title_container">
            <h1 style = "font-size: 2em;">GRIZZBANK</h1>
        </div>
            <form class = "login_form" name = "login_form" method="post" action="/grizz_bank/login_handler/">
            {% csrf_token %}
            <h1> Account Login</h1>
            <div class="Login_container">
                <div>
                <label for="username" class = "email_label"><b>Email</b></label>
                <input type="username" class = "Email" placeholder="Enter Username" name="username" required >
                </div>

                <div>
                <label for="password" class = "password_label"><b>Password</b></label>
                <input type="password" class = "Password" placeholder="Enter Password" name="password" required>
                </div>
                <button type = "submit" class ="login_btn" name ="login_btn" value="Login">Login</button>
                <div>
                <label>

                <input type="checkbox" checked="checked" name="remember"> Remember me</label>
                </div>
            </form>
            </div>
            <div>
                <button type="button" class="cancel_btn">Cancel</button>
                <button type="button" class="create_btn"><a style="text-decoration: none; color: inherit;" href="../create_account">Create Account</a></button>
                <div>
                <span class="psw">Forgot <a href="#" onclick = "openForm()">password?</a></span>
            </div>
            </div>




    
    </section>





    <footer class="footer">
        <nav class="navbar navbar-expand-sm navbar-dark">
            <a href="#" class="navbar-brand">About Grizz Bank</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#">About us</a></li>
                </ul>
            </div>
        </nav>
    </footer>
    </div>
</body>
</html> 