<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GrizzBank: Reset Password</title>
    <!-- Support loading statics via django template engine -->
    {% load static %}
    
    <!-- Load bootstrap css stylesheet  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- grizbank stylesheet to fill in gaps -->
    <link href="{% static 'grizz_bank/main.css' %}" type="text/css" rel="stylesheet">
</head>
<body onload = "closeForm()">

    <div class="main">
    <section class="header">
        <nav class="navbar navbar-expand-md navbar-dark">
            <a href="/grizz_bank/" class="navbar-brand">GrizzBank</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="../deposit">Deposit</a></li>
                    <li class="nav-item"><a class="nav-link" href="../transfer">Transfer</a></li>
                    <li class="nav-item"><a class="nav-link" href="../delete">Delete Account</a></li>
                    <li class="nav-item"><a class="nav-link" href="./reset_password">Reset Password</a></li>
                    <li class="nav-item"><a class="nav-link" href="../logout_handler">Logout</a></li>
                </ul>
            </div>
        </nav>
    </section>


    </div>


    <section class="Login_content" style = "text-align: center;">
        <div class="title_container">
            <h1 style = "font-size: 2em;">GRIZZBANK</h1>
        </div>
            <form class = "login_form" method="post" action="/grizz_bank/reset_password_handler/">
            {% csrf_token %}
            <h1> Reset Password</h1>
            <div class="Login_container">
                <div>
                
                <label for="Password" class = "password_label"><b>Current Password</b></label>
                <input type="password"class = "Password" placeholder="Enter Current Password" name="password" required>
                 <label for="New_password" class = "password_label"><b>New Password</b></label>
                <input type="password" class = "Password" placeholder="Enter New Password" name="New_password" required>
                 <label for="confirm_password" class = "password_label"><b>Confirm New Password</b></label>
                <input type="password" class = "Password" placeholder="Confirm New Password" name="confirm_password" required>
                </div>

                <button type="submit" class ="login_btn">Submit</button>
                <div>
                <label>
                
                
            </div>
        </div>
            </form>
    </section>
    <footer class="footer">
        <nav class="navbar navbar-expand-sm navbar-dark">
            <a href="#" class="navbar-brand">About Grizz Bank</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#">About us</a></li>
                </ul>
            </div>
        </nav>
    </footer>
    </div>
</body>
</html> 