<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GrizzBank: Transfer Money</title>
    <!-- Support loading statics via django template engine -->
    {% load static %}
    <!-- Load bootstrap css stylesheet  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- grizbank stylesheet to fill in gaps -->
    <link href="{% static 'grizz_bank/main.css' %}" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="main">
    <section class="header">
        <nav class="navbar navbar-expand-md navbar-dark">
            <a href="/grizz_bank/" class="navbar-brand">GrizzBank</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="../deposit">Deposit</a></li>
                    <li class="nav-item"><a class="nav-link" href="./">Transfer</a></li>
                    <li class="nav-item"><a class="nav-link" href="../delete">Delete Account</a></li>
                    <li class="nav-item"><a class="nav-link" href="../reset_password">Reset Password</a></li>
                    <li class="nav-item"><a class="nav-link" href="../logout_handler">Logout</a></li>
                </ul>
            </div>
        </nav>
    </section>

    <section class="content">
    <div class="horizontal-center-vertical-30">
        <form method="post" action="/grizz_bank/transfer_handler/">
            {% csrf_token %}
             <div class="row">
                <div class="col card">
                    <div class="card-body">
                        <div class="card-header grizz-blk-bg grizz-gold-txt">
                            <h2 class="text-center card-title">Transfer From</h2>
                        </div>
                        <div class="btn-group-toggle" data-toggle="buttons">
                             <!-- TODO: JS to restrict btns to 1 checked per card -->
                            <ul class="lst-rad-btns">
                                {%for acct in account_data %}
                                    <li>
                                        <label for="from_acct{{acct.id}}">{{acct.type}} Account {{acct.id}}: <span class="acct-bal">${{acct.bal}}: </span></label>
                                        <input class="radio" type="radio" id="from_acct{{acct.id}}" name="from_acct{{acct.id}}">
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col card">
                    <div class="card-body">
                        <div class="card-header grizz-blk-bg grizz-gold-txt">
                            <h2 class="text-center card-title">Transfer To</h2>
                        </div>
                         <ul class="lst-rad-btns">
                        <!-- TODO: JS to ensure only one button in this list selected -->
                             {%for acct in account_data %}
                                <li>
                                    <label for="to_acct{{acct.id}}">{{acct.type}} Account {{acct.id}}: <span class="acct-bal">${{acct.bal}}: </span></label>
                                    <input class="radio" type="radio" id="to_acct{{acct.id}}" name="to_acct{{acct.id}}">
                                </li>
                             {% endfor %}
                         </ul>
                    </div>
                </div>
            </div>
            <div class="row justify-content-around">
                <div class="col text-center">
                   <label for="transfer_amount">Transfer Quantity: </label>
                   <input type="text" id="transfer_amount" name="transfer_amount" value="">
                   <button type="submit" class="btn btn-dark">submit</button>
                </div>
            </div>
            <!-- hidden input containing username for the transfer handler -->
            <input type="hidden" id="uname" name="uname" value="{{ uname }}">
        </form>
    </div>
    </section>

    <footer class="footer">
        <nav class="navbar navbar-expand-sm navbar-dark">
            <a href="#" class="navbar-brand">About GrizzBank</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#">About us</a></li>
                </ul>
            </div>
        </nav>
    </footer>
    </div>
</body>
</html>